
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 text-uppercase  mb-lg-4 hehe">Avio Tickets</h1>
                <h1 class="text-uppercase text-white mb-lg-4">make your life easier</h1>
                <p class="fs-4 text-white mb-lg-4">Dolore tempor clita lorem rebum kasd eirmod dolore diam eos kasd. Kasd clita ea justo est sed kasd erat clita sea</p>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <a href="" class="btn btn-light btn-outline-light border-2 py-md-3 px-md-5 me-5">Read More</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="assets/travel.png" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="ps-5 mb-5" id="bordercic">
                    <h6 class="text-uppercase">About Us</h6>
                    <h1 class="display-5 text-uppercase mb-0" id="tekst">We make your wishes come true</h1>
                </div>
                <h4 class="text-body mb-4">Flight tickets can be purchased in travel class packages, and these packages may vary among companies. Economy and business classes are some of the most common packages.</h4>
                <div class="bg-light p-4">
                    <ul class="nav nav-pills justify-content-between mb-3">
                        <li class="nav-item w-50" >
                            <button class="nav-link text-uppercase w-100 active" type="button" id="dugmee">Our Mission</button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active">
                            <p class="mb-0">Are you searching for the lowest price on Trade Air flights for your next holiday? Then you've come to the right place! eDreams online travel agency features a fast and powerful search engine which quickly filters amongst hundreds of airlines and returns the cheapest flights for your desired route in a flash.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container-fluid py-5">
    <div class="container">
        <div id="border" class="ps-5 mb-5" style="max-width: 600px;" >
          <h6 class="text-uppercase">Trips</h6>
          <h1 class="display-5 text-uppercase mb-0" id="tekst">Our Excellent Avio Ticket Service</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="blog-item">
                    <div class="row g-0 bg-light overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="assets/5.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3"><i class="bi bi-bookmarks me-2"></i>Dubrovnik</small>
                                    <small><i class="bi bi-calendar-date me-2"></i>02 Jan, 2023</small>
                                </div>
                                <h5 class="text-uppercase mb-3">Dolor sit magna rebum clita rebum dolor</h5>
                                <p>Ipsum sed lorem amet dolor amet duo ipsum amet et dolore est stet tempor eos dolor</p>
                                <button routerLink="tickets" type="button" class="btn btn-primary me-4">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-item">
                    <div class="row g-0 bg-light overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="assets/9.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                    <small class="me-3"><i class="bi bi-bookmarks me-2"></i>New York</small>
                                    <small><i class="bi bi-calendar-date me-2"></i>01 Jan, 2023</small>
                                </div>
                                <h5 class="text-uppercase mb-3">Dolor sit magna rebum clita rebum dolor</h5>
                                <p>Ipsum sed lorem amet dolor amet duo ipsum amet et dolore est stet tempor eos dolor</p>
                                <button routerLink="tickets" type="button" class="btn btn-primary me-4">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <app-footer></app-footer>
  
  